<nav class="navbar navbar-default navbar-dark fixed-bottom">
  <div class="navbar-brand">Symbols</div>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <app-symbol
        asciiMath="sum"
        htmlCode="&sum;"
      ></app-symbol>
    </li>

    <li class="nav-item">
      <app-symbol
        asciiMath="sqrt()"
        htmlCode="&radic;"
      ></app-symbol>
    </li>

    <li class="nav-item">
      <app-symbol
        asciiMath="prod"
        htmlCode="&prod;"
      ></app-symbol>
    </li>

    <li class="nav-item">
      <app-symbol
        asciiMath="uu"
        htmlCode="&cup;"
      ></app-symbol>
    </li>

    <li class="nav-item">
      <app-symbol
        asciiMath="nn"
        htmlCode="&cap;"
      ></app-symbol>
    </li>
  </ul>
</nav>