<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="header">Equation Editor</h1>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      Ascii Math Input (<a href="http://asciimath.org/#gettingStarted" target="_blank">?</a>)
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <app-editor></app-editor>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      LaTeX Translation
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <app-latex-translation></app-latex-translation>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <app-render></app-render>
      </div>
    </div>
  <br />
</div>

<app-symbolbar></app-symbolbar>
